/* Estilos CSS */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Importante para o posicionamento absoluto do ícone */
}

#title {
    margin-top: 10px;
    color: black;
    margin: 10px 0;
}

h2 {
    font-size: 15px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#result {
    max-height: 210px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#developer {
    color: #888;
    font-size: smaller;
}

#returnButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    width: 50px; /* Largura da imagem */
    height: auto; /* Altura ajustada automaticamente de acordo com a largura */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

#infoIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #c4302b;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    cursor: help; /* Mudar o cursor para um ponto de interrogação */
    color: #fff;
    font-size: 14px;
}

/* CSS para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#resetButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
}

#resetButton:active {
    transform: rotate(-15deg);
}

#openAllButton, #copyButton {
    display: none;
    margin: 0 2px;
    padding: 2px 7px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

#openAllButton:hover, #copyButton:hover {
    background-color: #0056b3;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}